0.11.0.3/json/RSDragonwilds/Content/Maps/Gym/L_GymSelectorHub.json
0.11.0.3/json/RSDragonwilds/Content/Maps/World/L_World.json
0.11.0.3/textures/RSDragonwilds/Content/Art/Skeleton/NPC/Reptilian/Dragon_Imaru_01/Textures/T_Dragon_Imaru_01_N.png