Change #13752
Type: Modified
Old Path: RSDragonwilds/Content/Art/UI/Craft/T_Craft_RequirementsSlot.json
New Path: RSDragonwilds/Content/Art/UI/Craft/T_Craft_RequirementsSlot.json
Added Lines: 1
Removed Lines: 1

================================================================================
diff --git "a/E:\\Github\\RSDWArchive\\0.11.2\\json/RSDragonwilds/Content/Art/UI/Craft/T_Craft_RequirementsSlot.json" "b/E:\\Github\\RSDWArchive\\0.11.2.2\\json/RSDragonwilds/Content/Art/UI/Craft/T_Craft_RequirementsSlot.json"
index d5d66655b..f62e1d12c 100644
--- "a/E:\\Github\\RSDWArchive\\0.11.2\\json/RSDragonwilds/Content/Art/UI/Craft/T_Craft_RequirementsSlot.json"
+++ "b/E:\\Github\\RSDWArchive\\0.11.2.2\\json/RSDragonwilds/Content/Art/UI/Craft/T_Craft_RequirementsSlot.json"
@@ -32,4 +32,4 @@
       }
     ]
   }
-]
\ No newline at end of file
+]
