Change #42962
Type: Modified
Old Path: RSDragonwilds/Content/Gameplay/Character/Data/DA_UtilityMagic_SpecialRequirementsTagToText.json
New Path: RSDragonwilds/Content/Gameplay/Character/Data/DA_UtilityMagic_SpecialRequirementsTagToText.json
Added Lines: 1
Removed Lines: 1

================================================================================
diff --git "a/E:\\Github\\RSDWArchive\\0.11.2\\json/RSDragonwilds/Content/Gameplay/Character/Data/DA_UtilityMagic_SpecialRequirementsTagToText.json" "b/E:\\Github\\RSDWArchive\\0.11.2.2\\json/RSDragonwilds/Content/Gameplay/Character/Data/DA_UtilityMagic_SpecialRequirementsTagToText.json"
index c4428eeb5..2f40eacc9 100644
--- "a/E:\\Github\\RSDWArchive\\0.11.2\\json/RSDragonwilds/Content/Gameplay/Character/Data/DA_UtilityMagic_SpecialRequirementsTagToText.json"
+++ "b/E:\\Github\\RSDWArchive\\0.11.2.2\\json/RSDragonwilds/Content/Gameplay/Character/Data/DA_UtilityMagic_SpecialRequirementsTagToText.json"
@@ -110,4 +110,4 @@
       "InternalName": "utilitymagic_SpecialRequirementsTagToText"
     }
   }
-]
\ No newline at end of file
+]
