Change #45430
Type: Modified
Old Path: RSDragonwilds/Content/Gameplay/Inputs/Actions/UI/IA_UI_GenericUnFocusRequirements.json
New Path: RSDragonwilds/Content/Gameplay/Inputs/Actions/UI/IA_UI_GenericUnFocusRequirements.json
Added Lines: 5
Removed Lines: 2

================================================================================
diff --git "a/E:\\Github\\RSDWArchive\\0.11.2\\json/RSDragonwilds/Content/Gameplay/Inputs/Actions/UI/IA_UI_GenericUnFocusRequirements.json" "b/E:\\Github\\RSDWArchive\\0.11.2.2\\json/RSDragonwilds/Content/Gameplay/Inputs/Actions/UI/IA_UI_GenericUnFocusRequirements.json"
index f39577786..402505c01 100644
--- "a/E:\\Github\\RSDWArchive\\0.11.2\\json/RSDragonwilds/Content/Gameplay/Inputs/Actions/UI/IA_UI_GenericUnFocusRequirements.json"
+++ "b/E:\\Github\\RSDWArchive\\0.11.2.2\\json/RSDragonwilds/Content/Gameplay/Inputs/Actions/UI/IA_UI_GenericUnFocusRequirements.json"
@@ -16,8 +16,11 @@
   {
     "Type": "InputTriggerReleased",
     "Name": "InputTriggerReleased_0",
-    "Outer": "IA_UI_GenericUnFocusRequirements",
+    "Outer": {
+      "ObjectName": "InputAction'IA_UI_GenericUnFocusRequirements'",
+      "ObjectPath": "RSDragonwilds/Content/Gameplay/Inputs/Actions/UI/IA_UI_GenericUnFocusRequirements.0"
+    },
     "Class": "UScriptClass'InputTriggerReleased'",
     "Flags": "RF_Public | RF_Transactional | RF_WasLoaded | RF_LoadCompleted"
   }
-]
\ No newline at end of file
+]
