# Files over 100 MB
json/RSDragonwilds/Content/Maps/Gym/L_GymSelectorHub.json
json/RSDragonwilds/Content/Maps/World/L_World.json
textures/RSDragonwilds/Content/Art/Skeleton/NPC/Reptilian/Dragon_Imaru_01/Textures/T_Dragon_Imaru_01_N.png